<section class="cards">
  <div class="cards_space">
    <!-- <div class="card">
      <div class="card-header">
        <div class="card-header__img">
          <img class="card-img" src="../img/pediatr.jpg" alt="" />
        </div>
        <div class="card-header__info">
          <p class="card-header__info__doctor">Чихурська Катерина Леонідівна</p>
          <p class="card-header__info__profession">
            Стоматолог/Педіатр/кардіолог
          </p>
        </div>
      </div>

      <div class="card-footer">
        <div class="card-footer__header">
          <p class="card-footer__header__tittle">Ваш запис</p>
        </div>
        <div class="card-footer__info">
          <div class="info_keys">
            <ul>
              <li class="info_item key">Ім'я пацієнта:</li>
              <li class="info_item key">Дата:</li>
              <li class="info_item key">Час:</li>
              <li class="info_item key">Адреса:</li>
              <li class="info_item key">Кабінет:</li>
            </ul>
          </div>
          <div class="info_status">
            <ul>
              <li class="info_item status">якесь ім'я</li>
              <li class="info_item status">якась дата</li>
              <li class="info_item status">якийсь час</li>
              <li class="info_item status">Якась адреса</li>
              <li class="info_item status">222</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-sidebar">
        <div class="exit_logo__container">
          <img class="exit_logo" src="../img/cross.svg" alt="" />
        </div>
        <button class="card-sidebar__button open_more">Показати більше</button>
        <button class="card-sidebar__button edit">Редагувати</button>
      </div>
    </div> -->
  </div>
</section>
