<section>
  <div class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Створити візит</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
             <div class="form-group create_visit_select">
               <select class="form-select" id="doctors-select">
                 <option value="">Оберіть лікаря</option>
                 <option value="cardiologist">Кардіолог</option>
                 <option value="dentist">Стоматолог</option>
                 <option value="therapist">Терапевт</option>
               </select>
             </div>
             <div class="create_visit_form">
                 <form action="https://ajax.test-danit.com/api/v2/cards" method="POST" >
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg cardiologist dentist therapist" id="purpose" type="text" name="purpose" placeholder="Мета візиту">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                      </div>
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg cardiologist dentist therapist" id="brief" type="text" name="brief" placeholder="Короткий опис візиту">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                      </div>
                     <div class="form_create_visit form-group cardiologist dentist therapist urgency">
                       <label class="title_visit_form" for="exampleSelect1" class="form-label mt-4">Терміновість</label>
                         <select class="form-select" id="urgency-select">
                           <option value="Звичайна">Звичайна</option>
                           <option value="Пріоритетна">Пріоритетна</option>
                           <option value="Невідкладна">Невідкладна</option>
                         </select>
                       </div>
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg cardiologist dentist therapist" id="name" type="text" name="name" placeholder="ПІБ">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                        </div>
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg cardiologist" id="blood" type="text" name="blood" placeholder="Звичайний тиск">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                        </div>
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg cardiologist" id="body" type="text" name="body" placeholder="Індекс маси тіла">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                        </div>
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg cardiologist" id="cardio" type="text" name="cardio" placeholder="Захворювання серцево-судинної системи">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                    </div>
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg cardiologist therapist" id="age" type="text" name="age" placeholder="Вік">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                      </div>
                     <div class="form_create_visit">
                         <input class="form-control form-control-lg dentist" id="lasteVisit" type="text" name="lasteVisit" placeholder="Дата останнього відвідування">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                        </div>
                     <!-- <div class="form_create_visit">
                         <input class="form-control form-control-lg therapist" type="text" name="ageForTherapist" placeholder="Вік">
                         <div class="invalid-feedback">Це поле обов'язкове для заповнення</div>
                      </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="create_visit_butt btn btn-primary">Створити візит</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        </div>
      </div>
    </div>
  </div>
</section>