<section class="filter">
  <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <div class="form-group">
              <select class="form-select" id="filter_urgency">
                <option>-Терміновість-</option>
                <option value="regular">Звичайна</option>
                <option value="priority">Пріорітетна</option>
                <option value="urgent">Невідкладна</option>
              </select>
            </div>
          </li>
          <li class="nav-item">
            <div class="form-group">
              <select class="form-select" id="filter_doctor">
                <option>-Лікар-</option>
                <option value="cardiologist">Кардіолог</option>
                <option value="dentist">Стоматолог</option>
                <option value="therapist">Терапевт</option>
              </select>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="search_filter form-control me-sm-2" type="search" placeholder="Search">
        </form>
      </div>
    </div>
  </nav>
</section>


