<header class="navbar bg-body-tertiary">
  <div class="container-fluid">
      <div class="container d-f-s-b-f-s">
          <a href="#!" class="navbar-brand">
            <?xml version="1.0" ?><svg class="logo_icon" data-name="Layer 1" height="70" id="Layer_1" viewBox="0 0 88 88" width="70" xmlns="http://www.w3.org/2000/svg"><title/><path d="M66.56,43.44,64,41.33a12.6,12.6,0,0,0,2.9-8,12.32,12.32,0,0,0-21.69-8L44,26.88l-1.25-1.5a12.32,12.32,0,0,0-21.69,8,12.6,12.6,0,0,0,2.9,8l-2.52,2.11A15.6,15.6,0,0,1,44,22,15.61,15.61,0,0,1,66.56,43.44Z"/><path d="M42.62,56.42,37.18,44.64l-2,4.27H17.79V45.63H33.12l4.05-8.83,5.08,11,6.6-18.53,6.06,16.4h15.3v3.28H52.62l-3.7-10.07Z"/><path d="M46.39,70.21H41.61L28,54.09,30.5,52l12.62,15h1.76l12.6-15L60,54.09Z"/></svg>
              <h1 class="logo-text">healthy<br>life</h1>
          </a>
          <div class="wrapper-btn">
              <button id="btnLog" type="button" class="btn btn-enter">
                  Вхід
              </button>
              <div id="btnSucces" class="box_btn_succes">
                <button id="create" type="button" class="btn btn-create-visit btn-success">
                    Створити візит
                </button>
                <button id="logOut" type="button" class="btn btn-logout btn-danger">
                    Вихід
                </button>
              </div>
              <div class="root"></div>
              <div class="no-authorization"></div>
              <div class="wrapper-filtering-form"></div>
              <div class="no-cards"></div>
          </div>
      </div>
  </div>
</header>
  <!-- я закоментувала цей нав, бо я вже другий день дивлюсь і не можу зрозуміти де його початок  -->
<!-- </nav> -->
