main {
  margin: 0 auto;
}

.margin {
  margin-bottom: 15px;
}
.cards_space {
  padding: 10px 0;
  display: flex;
  flex-direction: column-reverse;
}

.card {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 0.75fr 1.25fr;
  width: 750px;
  border-left: 10px solid rgb(90, 246, 0);
  border-top: 1px solid rgba(150, 149, 149, 0.271);
  border-bottom: 1px solid rgba(150, 149, 149, 0.271);

  &-header {
    order: 1;
    display: flex;
    padding-inline: 5px;

    &__info {
      margin-top: 10px;
      margin-left: 20px;

      &__doctor {
        font-size: 24px;
        margin-bottom: 20px;
        color: rgb(19, 81, 253);
      }
      &__profession {
        font-size: 20px;
      }
    }
  }

  &-img {
    width: 150px;
    height: 125px;
  }

  &-footer {
    padding-inline: 15px;
    order: 3;
    border-top: 1px solid rgba(150, 149, 149, 0.271);

    &__header__tittle {
      font-size: 22px;
      margin-top: 10px;
      margin-left: 17px;
      font-weight: 900;
    }

    &__info {
      margin-left: 10px;
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  &-sidebar {
    position: relative;
    border-right: 1px solid rgba(150, 149, 149, 0.271);
    border-left: 1px solid rgba(150, 149, 149, 0.271);
    order: 2;
    grid-row: span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__button {
      width: 150px;
      height: 55px;
      background-color: rgb(7, 152, 255);
      border-radius: 5px;
      font-size: 20px;
      color: white;
    }
    &__button:hover {
      cursor: pointer;
    }
  }
}
.info_main {
  flex-direction: column;
}
.info_status {
  margin-left: 50px;
}

.info_item {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 7px;
}

.exit_logo__container {
  top: 0;
  right: 0;
  position: absolute;
}
.exit_logo {
  width: 25px;
}
.exit_logo:hover {
  background-color: rgb(246, 39, 39);
  cursor: pointer;
}

.disabled {
  display: none;
}

.active {
  display: block;
}

.status {
  margin-left: 20px;
}
