
.cardiologist, .dentist, .therapist{
    display: none;
}

.form_create_visit{
    @include marginTB(10px, 10px);
}

.mt-4{
    margin-top: 0.5rem!important;
}

.modal-title{
    @extend %ffL;
    @include fontz(24px,16px,700,#0d5931);
}

.title_visit_form{
    @extend %ffL;
    @include fontz(18px,16px,400,#979797);
    margin-left: 10px;
    margin-bottom: 10px;
}
