$header_color_hover: #485667;
$header_color: #20262d;
.navbar {
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
}

.d-f-s-b-f-s {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  transition: all 0.5s;

  &:hover {
    .logo_icon {
      fill: $header_color_hover;
    }

    .logo-text {
      color: $header_color_hover;
    }
  }
}

.logo_icon {
  fill: $header_color;
  transition: all 0.5s;
}

.logo-text {
  margin-top: 12px;
  text-transform: uppercase;
  color: $header_color;
  transition: all 0.5s;
}

#btnLog {
  color: #fff;
  background-color: $header_color;
  transition: 0.5s;

  &:hover {
    background-color: $header_color_hover;
  }
}

#btnSucces {
  display: flex;
  margin-top: 10px;
}

.disappear {
  display: none;
}

.authorization-form-modal {
  backdrop-filter: none;
}

.card {
  margin: 0 auto;
  margin-bottom: 10px;
}

.card:last-child {
  margin-bottom: 0;
}
