.main_content {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(../img/MRKT_5625_Mentoring-for-Success-_Blog-Social-Graphics_BLOG-1.jpg);
  @include back(cover, no-repeat, center, fixed);
}

.welcome {
  width: 100%;
  height: 1200px;
  background-image: url(../img/MRKT_5625_Mentoring-for-Success-_Blog-Social-Graphics_BLOG-1.jpg);
  @include back(cover, no-repeat, center, fixed);
}

.filter {
  display: none;
}

.hide {
  display: none;
}